@import '../../variables';

.reviews {
    background: #F6F6F6;
    padding: 60px 20px;
    &__img {
        position: relative;
        &__background {
            max-width: 100%;
            object-fit: contain;
        }
        &__quote {
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
        }
        &__content {
            width: 70%;
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%);
        }
    }
    &__persons {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        &__person {
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 200px;
            div{
                background: #D9D9D9;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            &:nth-child(1) {
                left: 15%;
            }
            &:nth-child(2) {
                left: 5%;
                top: 65%
            }
            &:nth-child(3) {
                left: 45%;
                top: 60%;
            }
            &:nth-child(4) {
                left: 80%;
                top: 10%;
            }
            &:nth-child(5) {
                left: 80%;
                top: 80%;
            }
            .active {
                width: 35px;
                height: 35px;
                border: 5px solid #fff;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .reviews {
        &__img {
            &__content,
            &__persons__person p {
                font-size: 14px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .reviews {
        padding: 40px 10px;
        &__img {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__quote {
                position: initial;
                width: 50px;
                height: 50px;
                padding-top: 10%;
                transform: none;
            }
            &__content {
                position: initial;
                padding-top: 10%;
                transform: none;
            }
        }
        &__persons {
            &__person {  
                width: 150px;
                
                & div {
                    margin-bottom: 5px;
                    &.active {
                        width: 25px;
                        height: 25px;
                        border: 3px solid #fff;
                    }
                }
                & h5 {
                    font-size: 12px;
                }
                & p {
                    font-size: 10px !important;
                }
                &:nth-child(1) {
                    top: 5%;
                    left: 5%;
                }
                &:nth-child(2) {
                    left: 0;
                    top: 45%
                }
                &:nth-child(3) {
                    top: 35%;
                    left: 40%;
                }
                &:nth-child(4) {
                    left: 60%;
                    top: 5%;
                    text-align: right;
                    align-items: flex-end;
                }
                &:nth-child(5) {
                    left: 60%;
                    top: 40%;
                    text-align: right;
                    align-items: flex-end;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .reviews {
        &__img {
            
            &__quote {
                width: 30px;
                height: 30px;
            }
            
        }
        &__persons {
            &__person {  
                align-items: flex-start; 
                text-align: left;
                width: 135px;
                
                & div {
                    margin-bottom: 5px;
                    &.active {
                        width: 25px;
                        height: 25px;
                        border: 3px solid #fff;
                    }
                }
                & h5 {
                    font-size: 12px;
                }
                & p {
                    font-size: 10px !important;
                }
                &:nth-child(1) {
                    left: 10%;
                    top: 0;
                }
                
                &:nth-child(2) {
                    left: 5%;
                    top: 25%
                }
                &:nth-child(3) {
                    top: 15%;
                    left: 30%;
                    align-items: center;
                    text-align: center;
                }
                &:nth-child(4) {
                    left: 55%;
                    top: 0%;
                }
                &:nth-child(5) {
                    left: 55%;
                    top: 30%;
                }
            }
        }
    }
}



@media screen and (min-width: 1440px) {
    .reviews {
        &__img {
            margin: 0 200px;
        }
    }
}