@import '../../variables';

.destination {
    margin-top: 140px;
    &__links {
        margin-top: 40px;
        &__buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            width: 80%;
            margin: 0 auto;
            & button:first-child {
                background: #4997D3;
                color: #fff;
            }
        }
        &__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 80px;
        }
        &__confirm-button {
            margin-top: 80px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .destination {
        &__links {
            &__cards {
                gap: 30px;
            }
        }
    }

}


@media only screen and (min-width: 800px) {
    .destination {
        &__links {
            &__buttons {
                flex-direction: row;
            }
        }
    }

}

