$--heading-1-font: bold 300px/300px 'Oswald';
$--heading-2-font: bold 200px/200px 'Oswald';
$--heading-3-font: bold 100px/100px 'Oswald';
$--heading-4-font: bold 40px/50px 'Oswald';
$--heading-5-font: 32px/40px 'Poppins';
$--heading-6-font: 32px 'Poppins';
$--heading-7-font: 500 20px/150% 'Poppins';
$--heading-8-font: 16px 'Poppins';
$--paragraph-font: 20px/150% 'Poppins';

$--heading-mobile-font: bold 60px/60px 'Oswald';
