
@import './variables';

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color: #000;
}

h1 {
    font: $--heading-4-font;
}

a {
    color: inherit;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .8;
}

.App {
    text-align: center;
}

